<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidAssignments"
        tools:targetApi="31">
        <activity
            android:name=".savedCredentials.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".savedCredentials.SavedCredentialsActivity"
            android:exported="false"
            android:theme="@style/Theme.AndroidAssignments" />
        <activity
            android:name=".binding.inputDataBinding.InputActivity"
            android:exported="true" />
        <activity
            android:name=".NetworkAndAPI.UserActivity"
            android:exported="true" />
        <activity
            android:name=".SharedPreferences.SplashActivity"
            android:exported="true" />
        <activity
            android:name=".SharedPreferences.SharedPreferenceActivity"
            android:exported="false" />
        <activity
            android:name=".dataPersistence.CourseActivity"
            android:exported="true" />
        <activity
            android:name=".UIpractice.BindingsActivity"
            android:exported="true" />
        <activity
            android:name=".binding.counterApp.CounterAppActivity"
            android:exported="true" />
        <activity
            android:name=".RecyclerViews.StaggeredRV.StaggeredRvActivity"
            android:exported="true" />
        <activity
            android:name=".AppBars.NavigationDrawer.DrawerActivity"
            android:exported="true" />
        <activity
            android:name=".AppBars.BottomBar.BottomBarActivity"
            android:exported="true" />
        <activity
            android:name=".AppBars.TabBar.TabBarActivity"
            android:exported="true" />
        <activity
            android:name=".Navigtions.NavActivity"
            android:exported="true" />
        <activity
            android:name=".Fragments.FragmentActivity"
            android:exported="true" />
        <activity
            android:name=".RecyclerViews.LinearRV.LinearRvActivity"
            android:exported="true" />
        <activity
            android:name=".EventListeners.EventListener2Activity"
            android:exported="true" />
        <activity
            android:name=".EventListeners.EventListener1Activity"
            android:exported="true" />
        <activity
            android:name=".ConstraintLayouts.EditTextLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".ConstraintLayouts.ButtonsLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>